@import "tailwindcss";

*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%
}

body{
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

a, button{
    outline: none
}

.p-toast-message-content svg{
  with: 16px;
  height: 16px
}

.p-toast-message-text .p-toast-detail
.p-toast-message-text .p-toast-summary {
    font-size: 1.5rem!important
}