@import "tailwindcss";

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

a, button{
    outline: none
}

input::placeholder{
    font-size: 15px!important;
}

/* Custom data table */
:root{
    --p-select-option-selected-background: rgba(74, 144, 226, 0.08);
    --p-select-option-selected-focus-background: rgba(74, 144, 226, 0.08);
    --p-select-option-selected-focus-color: #065076;
    --p-select-focus-border-color: #065076;
    --p-button-outlined-primary-border-color: #065076;
    --p-textarea-focus-border-color: #065076;
    --p-button-outlined-primary-color: #065076;
    --p-button-outlined-primary-hover-background: rgba(74, 144, 226, 0.08);
    --p-button-primary-background: #065076;
    --p-button-primary-border-color: #065076;
    --p-button-primary-hover-background: rgba(74, 144, 226, 0.08);
    --p-button-primary-hover-border-color: #065076;
    --p-button-primary-hover-color: #065076;
    --p-inputtext-focus-border-color: #065076;
    --p-select-option-selected-color: #065076;
    --p-slider-handle-focus-ring-color: #065076;
    --p-paginator-nav-button-selected-background: rgba(74, 144, 226, 0.08);
    --p-fieldset-legend-focus-ring-color: #065076;
    --p-paginator-nav-button-selected-color: #065076;
    --p-primary-color: #065076;
    --p-primary-hover-color: #065076;
    --p-primary-active-color: #065076;
    --p-toggleswitch-checked-background: #10b981;
    --p-toggleswitch-checked-hover-background: #6ee7b7;
}

.p-select,
.p-password input{
    width: 100%;
}

.input-text{
    .p-password-input{
        padding: 0;
        border: none;
        background: transparent;
        outline: none;
        box-shadow: none;
        border-radius: initial;
        color: #000;
        &::placeholder{
            font-size: 1.4rem;
            color: rgba(0,0,0,0.5);
        }
    }
}

.p-datatable-header{
    overflow-x: auto
}

button[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}

.text-area-wrap .p-textarea{
    border: none;
    outline: none;
    box-shadow: none;
    padding: 0
}
  
