.base-button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid $grey;
    background-color: transparent;
    color: $black;
    font-size: 1.5rem;

    &:hover{
        opacity: 0.9;
        cursor: pointer;
    }

    .button{
        height: 100%;
        background-color: transparent;
        color: $black;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: inherit;
    }

    &[variant="primary"]{
        color: $white;
        background-color: $dark-blue;
        border: 1px solid $dark-blue;

        .button{
            color: $white;
        }
    }

    &[variant="outline"]{
        .button{
            color: inherit;
            background-color: transparent;
            border-color: inherit;
        }
    }
}